@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@100&display=swap');
        * {
            font-family: Roboto, sans-serif;
            color: white;
        }
        .fondo {
            background-color: rgb(29, 29, 29);
        }
        .alturaIconos {
            height: 30px;
            padding: 5px;
        }
        .heroImage {
          background-image: "img/hero.jpg";
        }
        .titulares {
          font-size: 50px;
        }